/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require font-awesome
 //code.jquery.com/jquery-1.10.2.min.js
//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css
//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js
 */

/*@import "font-awesome";*/
body{
	background-color: #E0E3EC;
}

.link-to-text-color { 
	font-weight: bold;
	font-size: 200%;
	color: white !important}